<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple eCommerce</title>
</head>
<body>
  <form method="get" action="/logout">
    <button type="submit">Logout</button>
  </form>
    <h1>Products</h1>
    <a href="/admin/products/new">Insert Product</a>
    <ul>
        <% products.forEach(product => { %>
          <li>
            <%= product.name %> - $<%= product.price.toFixed(2) %>
            <a href="/admin/products/edit/<%= product.id %>">Edit</a>
            <a href="/admin/products/delete/<%= product.id %>">Delete</a>
          </li>
        <% }); %>
      </ul>
      
</body>
</html>
